.body {
  max-width: 1600px;
  margin: 0;
  padding: 0;

  /* background:rgb(61, 59, 59); */
  background: linear-gradient(
    180deg,
    rgba(25, 24, 31, 0) 0%,
    rgba(25, 24, 31, 0.8) 100%
  );
}
.box {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.img {
}

.element {
  background-image: url(https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react//home/background4.png);
  height: 600px;
  background-size: 100% ;
  background-repeat: no-repeat;
}

.bgi {
  background-image: url(https:cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react//home/radiant_dire5.jpg);
  height: 600px;
  background-size: 100% ;
  background-repeat: no-repeat;
}
.bgi2{
  background-position-y: bottom;
  background-image: url(https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react//home/heroes_mobile.jpg);
  background-size: 100% ;
  background-attachment:fixed;
}
.mm{
  margin-bottom: 800px;
}
.bgi3{
  background-size: 500px;
  background-position-y: bottom;
  background-image: url(https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react//home/heroes_mobile.jpg);
  background-size: 100% ;
  background-attachment:fixed;
}

.hhh{
  height: 900px;}
  .www{
    width: 100%;
  }
